.vis-container {
    width: 100%;
}


.page {

    background-color: white;
    margin: auto;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;

}

.bodytexttitle{

    width: 1024px;
    background-color: white;
    margin: auto;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    color:#808080;
    font-weight: bold;
}

.bodytext{

    width: 1024px;
    background-color: white;
    margin: auto;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color:#808080;

}


html, body {
    margin: 0;
    height:100%;
    width:100%;
    padding:0;
}

nav {
    position: fixed;
    font-family: 'Source Sans Pro', sans-serif;}
nav a {
    display: block;
    font-size: 12px;
    color: #FFF;
    text-align: center;
    background: #000;
    padding: 10px;
    margin: 3px;
}


section {
    display: block;
    height:100%;
    width:100%;
    padding: 60px;
    padding-left: 120px;
    box-sizing:border-box;
    font-family: 'Source Sans Pro', sans-serif;
}
#one {

    color: #FFFAF0;
    font-size: 60px;
    font-weight: 900;
    background-image: url('https://www.observerbd.com/2020/01/04/observerbd.com_1578161244.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 375px;
    font-family: 'Source Sans Pro', sans-serif;

}

#two {
    width: 1024px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;

}
#three {

    background: white;
    font-family: 'Source Sans Pro', sans-serif;
}
#four {
    background: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.reference {

    background-color: white;
    margin: auto;
    padding-top: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color:#808080;

}
